.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-Group {
  width: 0.9375em;
}

.icon-2punctuality {
  width: 0.96875em;
}

.icon-3Vector {
  width: 1.2802734375em;
}

.icon-4Vector {
  width: 0.9111328125em;
}
